body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    max-width: 700px;
    margin: auto;
    padding: 0 20px;
}

.button {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    float: right;
    padding: 10px 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}

.button:hover {
    cursor: not-allowed;
}

.zucky {
    width: 100%;
    border-radius: 20px;
}

.tagline {
    margin-top: 30px;
}

h1 {
    font-weight: 800;
    font-size: 40px;
}

p, li {
    font-size: 18px;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
    border: none;
}

ul {
    padding-left: 20px;
}

.header {
    margin: 50px 0;
}

.logo {
    width: 150px;
    display: inline-block;
}

.product {
    background-color: #F5F5F5;
    padding: 15px 25px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.link_title {
    text-decoration: none;
}

.link_title:hover {
    font-style: italic;
}

footer {
    margin: 75px 0;
    font-size: 12px;
    text-align: center;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    .button {
        display: none;
    }

    .header {
        text-align: center;
    }

    .logo {
        margin-top: 30px;
    }

    .mobile {
        float: none;
        display: inline-block;
    }

    .header {
        margin-top: 0;
    }
}
